# ── Google Sheets ──────────────────────────
GOOGLE_SHEET_ID=1VzYeKZ1wc6qxcDuPwNlAPvWbzFiww
GOOGLE_SERVICE_ACCOUNT_EMAIL=finance-ts-admin@ddfg-4910.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
TEMPLATE_SHEET_ID=           # ← Google Drive'dagi template sheet ID

# ── Database ──────────────────────────────
DATABASE_URL=postgresql://user:password@localhost:5432/finance_db

# ── Server ────────────────────────────────
PORT=3003
ALLOWED_ORIGINS=http://localhost:3001
FRONTEND_URL=http://localhost:3001
API_KEY=kalit

# ── Google OAuth ──────────────────────────
GOOGLE_CLIENT_ID=            # ← Google Cloud Console dan
GOOGLE_CLIENT_SECRET=        # ← Google Cloud Console dan
GOOGLE_CALLBACK_URL=http://localhost:3003/auth/google/callback

# ── JWT ───────────────────────────────────
JWT_SECRET=supersecretkey_minimum32characters!!
JWT_EXPIRES_IN=7d

# ── Telegram ──────────────────────────────
TELEGRAM_BOT_TOKEN=          # ← to'liq token
ALLOWED_ADMINS=123123123
WEB_APP_URL=